In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [168]:
import pandas as pd
import json
from datetime import datetime, timedelta

# Load the JSON data from the file
# file_path = 'snow_volume_5_min'
# file_path = 'AAPL_Volume_Footprint.txt'
# file_path = 'MMM_Volume_Footprint.txt'
# file_path = 'META_Volume_Footprint.txt'
file_path = 'NKE_Volume_Footprint.txt'
# file_path = 'CVS_Volume_Footprint.txt'


with open(file_path, 'r') as file:
    file_content = file.read()

# Strip everything after the ~m~98~m~ marker
# marker = '~m~98~m~'
# marker = '~m~152~m~'

marker = '~m~99~m~'
# marker = '~m~98~m~'
file_content = file_content.split(marker)[0]

# file_content

main_data = json.loads(file_content)

# data_section = main_data['p'][1]['st1']['ns']['d']
# data_section = main_data['p'][1]['st16']['ns']['d']
data_section = main_data['p'][1]['st22']['ns']['d']
# data_section = main_data['p'][1]['st1']['ns']['d']

nested_data = json.loads(data_section)
footprint_levels = nested_data['graphicsCmds']['create']['footprintLevels']
df = pd.DataFrame(footprint_levels[0]['data'])

footprints = nested_data['graphicsCmds']['create']['footprints']

df1 = pd.DataFrame(footprints[0]['data'])

In [169]:
df1

,id,index,poc,val,vah,levels
0,2,0,81.17,81.16,81.18,"[{'buyVolume': 1072.0, 'sellVolume': 1388.0, '..."
1,3,1,81.21,81.16,81.24,"[{'buyVolume': 0.0, 'sellVolume': 1253.0, 'imb..."
2,4,2,81.25,81.24,81.28,"[{'buyVolume': 2115.0, 'sellVolume': 961.0, 'i..."
3,5,3,81.25,81.22,81.26,"[{'buyVolume': 836.0, 'sellVolume': 533.0, 'im..."
4,6,4,81.23,81.22,81.26,"[{'buyVolume': 1816.0, 'sellVolume': 0.0, 'imb..."
...,...,...,...,...,...,...
2830,6699,2830,78.07,78.06,78.08,"[{'buyVolume': 2138.0, 'sellVolume': 3137.0, '..."
2831,6700,2831,78.13,78.12,78.16,"[{'buyVolume': 2696.0, 'sellVolume': 6590.0, '..."
2832,6701,2832,78.23,78.20,78.24,"[{'buyVolume': 604.0, 'sellVolume': 83.0, 'imb..."
2833,6706,2833,78.27,78.24,78.32,"[{'buyVolume': 1773.0, 'sellVolume': 1903.0, '..."
2834,6707,2834,78.45,78.40,78.50,"[{'buyVolume': 865.0, 'sellVolume': 3717.0, 'i..."

In [170]:
df.head()

   id  startIndex type  price  extendTo
0  13           5  buy  81.38       6.0
1   8           5  buy  81.28       7.0
2   9           5  buy  81.30       7.0
3  10           5  buy  81.32       7.0
4  11           5  buy  81.34       7.0

In [171]:
df1.head()

,id,index,poc,val,vah,levels
0,2,0,81.17,81.16,81.18,"[{'buyVolume': 1072.0, 'sellVolume': 1388.0, '..."
1,3,1,81.21,81.16,81.24,"[{'buyVolume': 0.0, 'sellVolume': 1253.0, 'imb..."
2,4,2,81.25,81.24,81.28,"[{'buyVolume': 2115.0, 'sellVolume': 961.0, 'i..."
3,5,3,81.25,81.22,81.26,"[{'buyVolume': 836.0, 'sellVolume': 533.0, 'im..."
4,6,4,81.23,81.22,81.26,"[{'buyVolume': 1816.0, 'sellVolume': 0.0, 'imb..."

In [172]:
# # Define the trading holidays
# trading_holidays = [
#     datetime(2024, 1, 1),   # Monday, January 1 - New Year's Day
#     datetime(2024, 1, 15),  # Monday, January 15 - Martin Luther King Jr. Day
#     datetime(2024, 2, 19),  # Monday, February 19 - Presidents' Day
#     datetime(2024, 3, 29),  # Friday, March 29 - Good Friday
#     datetime(2024, 5, 27),  # Monday, May 27 - Memorial Day
#     datetime(2024, 6, 19),  # Wednesday, June 19 - Juneteenth National Independence Day
#     datetime(2024, 7, 4),   # Thursday, July 4 - Independence Day
#     datetime(2024, 9, 2),   # Monday, September 2 - Labor Day
#     datetime(2024, 11, 28), # Thursday, November 28 - Thanksgiving Day
#     datetime(2024, 12, 25), # Wednesday, December 25 - Christmas Day
#     datetime(2025, 1, 1),   # Wednesday, January 1 - New Year's Day
#     datetime(2025, 1, 20),  # Monday, January 20 - Martin Luther King Jr. Day
#     datetime(2025, 2, 17),  # Monday, February 17 - Presidents' Day
#     datetime(2025, 4, 18),  # Friday, April 18 - Good Friday
#     datetime(2025, 5, 26),  # Monday, May 26 - Memorial Day
#     datetime(2025, 6, 19),  # Thursday, June 19 - Juneteenth National Independence Day
#     datetime(2025, 7, 4),   # Friday, July 4 - Independence Day
#     datetime(2025, 9, 1),   # Monday, September 1 - Labor Day
#     datetime(2025, 11, 27), # Thursday, November 27 - Thanksgiving Day
#     datetime(2025, 12, 25)  # Thursday, December 25 - Christmas Day
# ]

# # Initialize the base timestamp for index 2245
# base_timestamp = datetime.strptime('2024-12-02 15:55:00', '%Y-%m-%d %H:%M:%S')
# current_timestamp = base_timestamp

# # Initialize a dictionary to store timestamps for each index
# # index_to_timestamp = {2245: current_timestamp}
# index_to_timestamp = {max(df1['index']): current_timestamp}

# # Market hours
# market_open = timedelta(hours=9, minutes=30)
# market_close = timedelta(hours=15, minutes=55)
# day_increment = timedelta(days=1)
# weekend_days = [5, 6]  # Saturday and Sunday

# # Calculate the timestamps backward in 5-minute intervals, excluding weekends and outside market hours
# # for index in range(2244, -1, -1):
# for index in range(max(df1['index'])-1, -1, -1):
#     # Subtract 5 minutes
#     current_timestamp -= timedelta(minutes=5)
    
#     # Check if current timestamp is before market open
#     while (current_timestamp.time() < (datetime.min + market_open).time() or
#            current_timestamp.time() > (datetime.min + market_close).time() or
#            current_timestamp.weekday() in weekend_days or
#            current_timestamp.date() in [holiday.date() for holiday in trading_holidays]):
#         # Move to previous trading day if before market open
#         if current_timestamp.time() < (datetime.min + market_open).time():
#             current_timestamp = datetime.combine(current_timestamp.date() - day_increment, (datetime.min + market_close).time())
#         else:
#             # Otherwise, just subtract 5 minutes
#             current_timestamp -= timedelta(minutes=5)
        
#         # Skip weekends and trading holidays
#         while current_timestamp.weekday() in weekend_days or current_timestamp.date() in [holiday.date() for holiday in trading_holidays]:
#             current_timestamp -= day_increment
#             current_timestamp = datetime.combine(current_timestamp.date(), (datetime.min + market_close).time())
    
#     # Assign the calculated timestamp to the index
#     index_to_timestamp[index] = current_timestamp

# # Create a list to hold the time series data
# time_series_data = []

# # Iterate over df1 and extract levels data
# for i, row in df1.iterrows():
#     timestamp = index_to_timestamp.get(row['index'])
    
#     if timestamp:
#         levels = row['levels']
#         for level in levels:
#             time_series_data.append({
#                 'timestamp': timestamp,
#                 'price': level['price'],
#                 'buyVolume': level['buyVolume'],
#                 'sellVolume': level['sellVolume'],
#                 'imbalance': level['imbalance'],
#                 'index': row['index']
#             })

# # Create the dataframe from the time series data
# series_df = pd.DataFrame(time_series_data)

# series_df.tail(20)


# Define the trading holidays
trading_holidays = [
    datetime(2024, 1, 1),   # Monday, January 1 - New Year's Day
    datetime(2024, 1, 15),  # Monday, January 15 - Martin Luther King Jr. Day
    datetime(2024, 2, 19),  # Monday, February 19 - Presidents' Day
    datetime(2024, 3, 29),  # Friday, March 29 - Good Friday
    datetime(2024, 5, 27),  # Monday, May 27 - Memorial Day
    datetime(2024, 6, 19),  # Wednesday, June 19 - Juneteenth National Independence Day
    datetime(2024, 7, 4),   # Thursday, July 4 - Independence Day
    datetime(2024, 9, 2),   # Monday, September 2 - Labor Day
    datetime(2024, 11, 28), # Thursday, November 28 - Thanksgiving Day
    datetime(2024, 12, 25), # Wednesday, December 25 - Christmas Day
    datetime(2025, 1, 1),   # Wednesday, January 1 - New Year's Day
    datetime(2025, 1, 20),  # Monday, January 20 - Martin Luther King Jr. Day
    datetime(2025, 2, 17),  # Monday, February 17 - Presidents' Day
    datetime(2025, 4, 18),  # Friday, April 18 - Good Friday
    datetime(2025, 5, 26),  # Monday, May 26 - Memorial Day
    datetime(2025, 6, 19),  # Thursday, June 19 - Juneteenth National Independence Day
    datetime(2025, 7, 4),   # Friday, July 4 - Independence Day
    datetime(2025, 9, 1),   # Monday, September 1 - Labor Day
    datetime(2025, 11, 27), # Thursday, November 27 - Thanksgiving Day
    datetime(2025, 12, 25)  # Thursday, December 25 - Christmas Day
]

# Initialize the base timestamp for index 2245
base_timestamp = datetime.strptime('2024-12-04 15:55:00', '%Y-%m-%d %H:%M:%S')
current_timestamp = base_timestamp

# Initialize a dictionary to store timestamps for each index
# index_to_timestamp = {2245: current_timestamp}
index_to_timestamp = {max(df1['index']): current_timestamp}

# Market hours
market_open = timedelta(hours=9, minutes=30)
market_close = timedelta(hours=15, minutes=55)
special_close = {
    datetime(2024, 11, 29).date(): timedelta(hours=12, minutes=55)  # Special close time on 2024-11-29
}
day_increment = timedelta(days=1)
weekend_days = [5, 6]  # Saturday and Sunday

# Calculate the timestamps backward in 5-minute intervals, excluding weekends and outside market hours
# for index in range(2244, -1, -1):
for index in range(max(df1['index'])-1, -1, -1):
    # Subtract 5 minutes
    current_timestamp -= timedelta(minutes=5)
    
    # Check if current timestamp is before market open
    while (current_timestamp.time() < (datetime.min + market_open).time() or
           current_timestamp.time() > (datetime.min + special_close.get(current_timestamp.date(), market_close)).time() or
           current_timestamp.weekday() in weekend_days or
           current_timestamp.date() in [holiday.date() for holiday in trading_holidays]):
        # Move to previous trading day if before market open
        if current_timestamp.time() < (datetime.min + market_open).time():
            current_timestamp = datetime.combine(current_timestamp.date() - day_increment, (datetime.min + special_close.get(current_timestamp.date() - day_increment, market_close)).time())
        else:
            # Otherwise, just subtract 5 minutes
            current_timestamp -= timedelta(minutes=5)
        
        # Skip weekends and trading holidays
        while current_timestamp.weekday() in weekend_days or current_timestamp.date() in [holiday.date() for holiday in trading_holidays]:
            current_timestamp -= day_increment
            current_timestamp = datetime.combine(current_timestamp.date(), (datetime.min + special_close.get(current_timestamp.date(), market_close)).time())
    
    # Assign the calculated timestamp to the index
    index_to_timestamp[index] = current_timestamp

# Create a list to hold the time series data
time_series_data = []

# Iterate over df1 and extract levels data
for i, row in df1.iterrows():
    timestamp = index_to_timestamp.get(row['index'])
    
    if timestamp:
        levels = row['levels']
        for level in levels:
            time_series_data.append({
                'timestamp': timestamp,
                'price': level['price'],
                'buyVolume': level['buyVolume'],
                'sellVolume': level['sellVolume'],
                'imbalance': level['imbalance'],
                'index': row['index']
            })

# Create the dataframe from the time series data
series_df = pd.DataFrame(time_series_data)

series_df.tail(20)

                timestamp  price  buyVolume  sellVolume imbalance  index
19250 2024-12-04 15:45:00  78.18      276.0         0.0       buy   2832
19251 2024-12-04 15:45:00  78.20      181.0       497.0       buy   2832
19252 2024-12-04 15:45:00  78.22     3586.0       499.0       buy   2832
19253 2024-12-04 15:45:00  78.24      513.0       138.0             2832
19254 2024-12-04 15:50:00  78.24     1773.0      1903.0             2833
19255 2024-12-04 15:50:00  78.26     2938.0      2038.0             2833
19256 2024-12-04 15:50:00  78.28     1250.0         0.0             2833
19257 2024-12-04 15:50:00  78.30      428.0         0.0       buy   2833
19258 2024-12-04 15:50:00  78.32     1241.0      1163.0       buy   2833
19259 2024-12-04 15:50:00  78.34      651.0       113.0             2833
19260 2024-12-04 15:50:00  78.36      449.0       668.0       buy   2833
19261 2024-12-04 15:50:00  78.38      823.0       570.0             2833
19262 2024-12-04 15:55:00  78.34      865.0      3717.0             2834
19263 2024-12-04 15:55:00  78.36     4654.0      4021.0             2834
19264 2024-12-04 15:55:00  78.38     4378.0      1201.0             2834
19265 2024-12-04 15:55:00  78.40      478.0      1584.0             2834
19266 2024-12-04 15:55:00  78.42     1472.0      4033.0             2834
19267 2024-12-04 15:55:00  78.44     5457.0      7033.0             2834
19268 2024-12-04 15:55:00  78.46     4136.0      2046.0             2834
19269 2024-12-04 15:55:00  78.48     4377.0      1388.0             2834

In [173]:
series_df.tail(600)

                timestamp  price  buyVolume  sellVolume imbalance  index
18670 2024-12-03 14:55:00  78.96        0.0       156.0             2744
18671 2024-12-03 15:00:00  78.96      227.0      1918.0             2745
18672 2024-12-03 15:00:00  78.98     1366.0       161.0             2745
18673 2024-12-03 15:05:00  78.98     1228.0      1333.0             2746
18674 2024-12-03 15:05:00  79.00      566.0       255.0             2746
...                   ...    ...        ...         ...       ...    ...
19265 2024-12-04 15:55:00  78.40      478.0      1584.0             2834
19266 2024-12-04 15:55:00  78.42     1472.0      4033.0             2834
19267 2024-12-04 15:55:00  78.44     5457.0      7033.0             2834
19268 2024-12-04 15:55:00  78.46     4136.0      2046.0             2834
19269 2024-12-04 15:55:00  78.48     4377.0      1388.0             2834

[600 rows x 6 columns]

In [177]:
series_df.to_csv('nke_5_min_series_data.csv')

In [178]:
# Filter the DataFrame
filtered_df = series_df[series_df['timestamp'] >= '2024-12-04 09:30:00']

In [179]:
filtered_df.reset_index(inplace=True,drop=True)

In [180]:
# Sort by timestamp and price ascending
filtered_df = filtered_df.sort_values(by=['timestamp', 'price']).reset_index(drop=True)

In [181]:
filtered_df['timestamp'].value_counts()

timestamp
2024-12-04 09:30:00    40
2024-12-04 09:35:00    19
2024-12-04 10:05:00    18
2024-12-04 09:40:00    12
2024-12-04 09:55:00    12
                       ..
2024-12-04 15:00:00     3
2024-12-04 13:35:00     3
2024-12-04 13:25:00     3
2024-12-04 14:20:00     2
2024-12-04 13:45:00     2
Name: count, Length: 78, dtype: int64

In [182]:
filtered_df

              timestamp  price  buyVolume  sellVolume imbalance  index
0   2024-12-04 09:30:00  77.10      597.0       119.0             2757
1   2024-12-04 09:30:00  77.12     1306.0       985.0      both   2757
2   2024-12-04 09:30:00  77.14      156.0      2510.0      sell   2757
3   2024-12-04 09:30:00  77.16      100.0       709.0      sell   2757
4   2024-12-04 09:30:00  77.18        0.0      1658.0      sell   2757
..                  ...    ...        ...         ...       ...    ...
531 2024-12-04 15:55:00  78.40      478.0      1584.0             2834
532 2024-12-04 15:55:00  78.42     1472.0      4033.0             2834
533 2024-12-04 15:55:00  78.44     5457.0      7033.0             2834
534 2024-12-04 15:55:00  78.46     4136.0      2046.0             2834
535 2024-12-04 15:55:00  78.48     4377.0      1388.0             2834

[536 rows x 6 columns]

In [183]:
filtered_df[filtered_df['timestamp'] == '2024-12-02 09:30:00']

Empty DataFrame
Columns: [timestamp, price, buyVolume, sellVolume, imbalance, index]
Index: []

In [184]:


# Calculate total volume at each price level
filtered_df['totalVolume'] = filtered_df['buyVolume'] + filtered_df['sellVolume']

# # Group by timestamp and identify the Point of Control (POC) for each 5-minute interval
# def calculate_poc(group):
#     poc_price = group.loc[group['totalVolume'].idxmax(), 'price']
#     group['poc'] = poc_price
    
#     # Calculate highest bid stacked imbalance and ask stacked imbalance
#     group['highest_bid_stacked_imbalance'] = group['buyVolume'].max()
#     group['highest_ask_stacked_imbalance'] = group['sellVolume'].max()
    
#     return group

# filtered_df = filtered_df.groupby('timestamp', group_keys=False).apply(calculate_poc)

# Group by timestamp and identify the Point of Control (POC) for each 5-minute interval
def calculate_poc(group):
    poc_price = group.loc[group['totalVolume'].idxmax(), 'price']
    group['poc'] = poc_price
    
    # Calculate highest bid stacked imbalance and ask stacked imbalance
    group['highest_bid_stacked_imbalance'] = group['buyVolume'].max()
    group['highest_ask_stacked_imbalance'] = group['sellVolume'].max()
    
    # Calculate highest ask imbalance stack price (consider imbalance as 'sell' or 'both')
    ask_imbalance_filter = group[(group['imbalance'] == 'sell') | (group['imbalance'] == 'both')]
    if not ask_imbalance_filter.empty:
        highest_ask_imbalance_stack_price = ask_imbalance_filter.loc[ask_imbalance_filter['sellVolume'].idxmax(), 'price']
    else:
        highest_ask_imbalance_stack_price = None
    group['highest_ask_imbalance_stack_price'] = highest_ask_imbalance_stack_price
    
    # Calculate highest bid imbalance stack price (consider imbalance as 'buy' or 'both')
    bid_imbalance_filter = group[(group['imbalance'] == 'buy') | (group['imbalance'] == 'both')]
    if not bid_imbalance_filter.empty:
        highest_bid_imbalance_stack_price = bid_imbalance_filter.loc[bid_imbalance_filter['buyVolume'].idxmax(), 'price']
    else:
        highest_bid_imbalance_stack_price = None
    group['highest_bid_imbalance_stack_price'] = highest_bid_imbalance_stack_price
    
    return group

filtered_df = filtered_df.groupby('timestamp', group_keys=False).apply(calculate_poc)


# Calculate delta (buyVolume - sellVolume)
filtered_df['delta'] = filtered_df['buyVolume'] - filtered_df['sellVolume']

# Calculate total ask imbalance count and highest stacked imbalance count
def calculate_imbalances(group):
    # Total ask imbalance count (where imbalance is 'sell' or 'both')
    ask_imbalance_count = ((group['imbalance'] == 'sell') | (group['imbalance'] == 'both')).sum()
    group['total_ask_imbalance_count'] = ask_imbalance_count

    # Highest stacked ask imbalance count (consecutive 'sell' or 'both' imbalance)
    max_stacked_ask_imbalance = ((group['imbalance'] == 'sell') | (group['imbalance'] == 'both')).astype(int).groupby(((group['imbalance'] != 'sell') & (group['imbalance'] != 'both')).cumsum()).cumsum().max()
    group['highest_stacked_ask_imbalance'] = max_stacked_ask_imbalance

    # Total bid imbalance count (where imbalance is 'buy' or 'both')
    bid_imbalance_count = ((group['imbalance'] == 'buy') | (group['imbalance'] == 'both')).sum()
    group['total_bid_imbalance_count'] = bid_imbalance_count

    # Highest stacked bid imbalance count (consecutive 'buy' or 'both' imbalance)
    max_stacked_bid_imbalance = ((group['imbalance'] == 'buy') | (group['imbalance'] == 'both')).astype(int).groupby(((group['imbalance'] != 'buy') & (group['imbalance'] != 'both')).cumsum()).cumsum().max()
    group['highest_stacked_bid_imbalance'] = max_stacked_bid_imbalance

    return group

filtered_df = filtered_df.groupby('timestamp', group_keys=False).apply(calculate_imbalances)

filtered_df = filtered_df.sort_values(by=['timestamp', 'price']).reset_index(drop=True)

def add_support_resistance_by_timestamp(df):
    # Initialize lists for final results
    support_levels_per_timestamp = []
    resistance_levels_per_timestamp = []

    # Group by timestamp
    grouped = df.groupby('timestamp')

    for timestamp, group in grouped:
        support_levels = []
        resistance_levels = []
        
        # Group consecutive rows with the same imbalance
        for _, sub_group in group.groupby((group['imbalance'] != group['imbalance'].shift()).cumsum()):
            if len(sub_group) >= 3:  # Ensure the sub-group has at least 3 rows
                prices = sub_group['price'].tolist()
                imbalance_type = sub_group['imbalance'].iloc[0]
                
                # Identify support and resistance levels based on imbalance type
                if all(sub_group['imbalance'].isin(['buy', 'both'])):
                    support_levels.append([round(p, 2) for p in prices])
                elif all(sub_group['imbalance'].isin(['sell', 'both'])):
                    resistance_levels.append([round(p, 2) for p in prices])

        # Store levels for the current timestamp
        support_levels_per_timestamp.append((timestamp, support_levels))
        resistance_levels_per_timestamp.append((timestamp, resistance_levels))
    
    # Create new DataFrame columns
    df['support_imbalance'] = df['timestamp'].map(
        dict((timestamp, levels) for timestamp, levels in support_levels_per_timestamp)
    )
    df['resistance_imbalance'] = df['timestamp'].map(
        dict((timestamp, levels) for timestamp, levels in resistance_levels_per_timestamp)
    )

    return df

# Apply the function to the filtered DataFrame
filtered_df = add_support_resistance_by_timestamp(filtered_df)

# Sort by timestamp and price
filtered_df = filtered_df.sort_values(by=['timestamp', 'price']).reset_index(drop=True)

# Group by timestamp and check for unfinished bid and ask auctions
def check_auctions(group):
    min_price_row = group.loc[group['price'].idxmin()]
    max_price_row = group.loc[group['price'].idxmax()]
    
    buy_auction_status = 'incomplete' if min_price_row['buyVolume'] > 0 and min_price_row['sellVolume'] > 0 else 'complete'
    sell_auction_status = 'incomplete' if max_price_row['buyVolume'] > 0 and max_price_row['sellVolume'] > 0 else 'complete'
    
    group['buy_auction_status'] = buy_auction_status
    group['sell_auction_status'] = sell_auction_status
    
    return group

# Apply the auction check function to each group
filtered_df = filtered_df.groupby('timestamp').apply(check_auctions).reset_index(drop=True)

C:\Users\saite\AppData\Local\Temp\ipykernel_10332\915788632.py:44: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  filtered_df = filtered_df.groupby('timestamp', group_keys=False).apply(calculate_poc)
C:\Users\saite\AppData\Local\Temp\ipykernel_10332\915788632.py:44: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  filtered_df = filtered_df.groupby('timestamp', group_keys=False).apply(calculate_poc)
C:\Users\saite\AppData\Local\Temp\ipykernel_10332\915788632.py:70: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  filtered_df = filtered_df.groupby('timestamp', group_keys=False).apply(calculate_imbalances)
C:\Users\saite\AppData\Local\Temp\ipykernel_10332\915788632.py:132: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  filtered_df = filtered_df.groupby('timestamp').apply(check_auctions).reset_index(drop=True)

In [185]:
filtered_df

,timestamp,price,buyVolume,sellVolume,imbalance,index,totalVolume,poc,highest_bid_stacked_imbalance,highest_ask_stacked_imbalance,...,highest_bid_imbalance_stack_price,delta,total_ask_imbalance_count,highest_stacked_ask_imbalance,total_bid_imbalance_count,highest_stacked_bid_imbalance,support_imbalance,resistance_imbalance,buy_auction_status,sell_auction_status
0,2024-12-04 09:30:00,77.10,597.0,119.0,,2757,716.0,77.38,3760.0,3415.0,...,77.4,478.0,18,7,5,2,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",incomplete,complete
1,2024-12-04 09:30:00,77.12,1306.0,985.0,both,2757,2291.0,77.38,3760.0,3415.0,...,77.4,321.0,18,7,5,2,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",incomplete,complete
2,2024-12-04 09:30:00,77.14,156.0,2510.0,sell,2757,2666.0,77.38,3760.0,3415.0,...,77.4,-2354.0,18,7,5,2,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",incomplete,complete
3,2024-12-04 09:30:00,77.16,100.0,709.0,sell,2757,809.0,77.38,3760.0,3415.0,...,77.4,-609.0,18,7,5,2,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",incomplete,complete
4,2024-12-04 09:30:00,77.18,0.0,1658.0,sell,2757,1658.0,77.38,3760.0,3415.0,...,77.4,-1658.0,18,7,5,2,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",incomplete,complete
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,2024-12-04 15:55:00,78.40,478.0,1584.0,,2834,2062.0,78.44,5457.0,7033.0,...,NaN,-1106.0,0,0,0,0,[],[],incomplete,incomplete
532,2024-12-04 15:55:00,78.42,1472.0,4033.0,,2834,5505.0,78.44,5457.0,7033.0,...,NaN,-2561.0,0,0,0,0,[],[],incomplete,incomplete
533,2024-12-04 15:55:00,78.44,5457.0,7033.0,,2834,12490.0,78.44,5457.0,7033.0,...,NaN,-1576.0,0,0,0,0,[],[],incomplete,incomplete
534,2024-12-04 15:55:00,78.46,4136.0,2046.0,,2834,6182.0,78.44,5457.0,7033.0,...,NaN,2090.0,0,0,0,0,[],[],incomplete,incomplete
535,2024-12-04 15:55:00,78.48,4377.0,1388.0,,2834,5765.0,78.44,5457.0,7033.0,...,NaN,2989.0,0,0,0,0,[],[],incomplete,incomplete

In [186]:
filtered_df[filtered_df['imbalance'] == 'both']

,timestamp,price,buyVolume,sellVolume,imbalance,index,totalVolume,poc,highest_bid_stacked_imbalance,highest_ask_stacked_imbalance,...,highest_bid_imbalance_stack_price,delta,total_ask_imbalance_count,highest_stacked_ask_imbalance,total_bid_imbalance_count,highest_stacked_bid_imbalance,support_imbalance,resistance_imbalance,buy_auction_status,sell_auction_status
1,2024-12-04 09:30:00,77.12,1306.0,985.0,both,2757,2291.0,77.38,3760.0,3415.0,...,77.40,321.0,18,7,5,2,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",incomplete,complete
103,2024-12-04 09:55:00,77.54,2391.0,1477.0,both,2762,3868.0,77.54,2855.0,1477.0,...,77.50,914.0,1,1,9,5,"[[77.36, 77.38, 77.4, 77.42, 77.44], [77.48, 7...",[],complete,complete
146,2024-12-04 10:15:00,77.76,906.0,11.0,both,2766,917.0,77.82,1604.0,1717.0,...,77.76,895.0,2,1,1,1,[],[],complete,complete
164,2024-12-04 10:25:00,77.94,2203.0,1934.0,both,2768,4137.0,77.92,4363.0,2211.0,...,77.92,269.0,1,1,3,3,[],[],incomplete,incomplete
218,2024-12-04 11:05:00,77.88,486.0,601.0,both,2776,1087.0,77.84,1400.0,1199.0,...,77.88,-115.0,4,3,1,1,[],[],incomplete,complete
272,2024-12-04 11:45:00,78.18,1117.0,2176.0,both,2784,3293.0,78.18,1767.0,2176.0,...,78.22,-1059.0,1,1,2,1,[],[],complete,complete
365,2024-12-04 12:55:00,78.02,367.0,120.0,both,2798,487.0,77.96,737.0,381.0,...,78.02,247.0,1,1,1,1,[],[],complete,complete
435,2024-12-04 14:10:00,77.96,1160.0,1394.0,both,2813,2554.0,77.96,1160.0,1394.0,...,77.96,-234.0,1,1,2,2,[],[],complete,complete

In [187]:
filtered_df[['timestamp','buy_auction_status','sell_auction_status']].drop_duplicates()

              timestamp buy_auction_status sell_auction_status
0   2024-12-04 09:30:00         incomplete            complete
40  2024-12-04 09:35:00         incomplete            complete
59  2024-12-04 09:40:00           complete            complete
71  2024-12-04 09:45:00           complete          incomplete
82  2024-12-04 09:50:00           complete            complete
..                  ...                ...                 ...
504 2024-12-04 15:35:00         incomplete            complete
509 2024-12-04 15:40:00         incomplete          incomplete
513 2024-12-04 15:45:00         incomplete          incomplete
520 2024-12-04 15:50:00         incomplete          incomplete
528 2024-12-04 15:55:00         incomplete          incomplete

[78 rows x 3 columns]

In [188]:
import ast

# Define a function that converts the value to a list if needed
def safe_literal_eval(val):
    if isinstance(val, str):
        try:
            return ast.literal_eval(val)
        except ValueError:
            print(f"Error in evaluating: {val}")
            return val  # Optionally handle bad strings gracefully
    return val

# Apply to the columns
filtered_df['support_imbalance'] = filtered_df['support_imbalance'].apply(safe_literal_eval)
filtered_df['resistance_imbalance'] = filtered_df['resistance_imbalance'].apply(safe_literal_eval)

In [189]:
filtered_df['support_imbalance']

0      []
1      []
2      []
3      []
4      []
       ..
531    []
532    []
533    []
534    []
535    []
Name: support_imbalance, Length: 536, dtype: object

In [190]:
# filtered_df['support_imbalance_count'] = filtered_df['support_imbalance'].apply(lambda x: len(set(x[0])) if isinstance(x, list) and len(x) > 0 and isinstance(x[0], list) else 0)
# filtered_df['resistance_imbalance_count'] = filtered_df['resistance_imbalance'].apply(lambda x: len(set(x[0])) if isinstance(x, list) and len(x) > 0 and isinstance(x[0], list) else 0)


import itertools

# Flatten the nested list and then take the set of unique elements
filtered_df['support_imbalance_count'] = filtered_df['support_imbalance'].apply(
    lambda x: len(set(itertools.chain.from_iterable(x))) if isinstance(x, list) else 0
)

filtered_df['resistance_imbalance_count'] = filtered_df['resistance_imbalance'].apply(
    lambda x: len(set(itertools.chain.from_iterable(x))) if isinstance(x, list) else 0
)

In [191]:
filtered_df[['support_imbalance','resistance_imbalance','support_imbalance_count','resistance_imbalance_count']]

,support_imbalance,resistance_imbalance,support_imbalance_count,resistance_imbalance_count
0,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",0,17
1,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",0,17
2,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",0,17
3,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",0,17
4,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",0,17
...,...,...,...,...
531,[],[],0,0
532,[],[],0,0
533,[],[],0,0
534,[],[],0,0
535,[],[],0,0

In [192]:
# filtered_df[filtered_df['timestamp'] == '2024-12-04 09:40:00'][['resistance_imbalance']]
filtered_df.loc[59,'resistance_imbalance']

[]

In [193]:
# Initialize active support and resistance levels
active_support_levels = [item for sublist in filtered_df.loc[0, 'support_imbalance'] for item in sublist]
active_resistance_levels = [item for sublist in filtered_df.loc[0, 'resistance_imbalance'] for item in sublist]

# Function to update active support and resistance levels
def update_active_levels(active_levels, traded_price):
    # Remove levels that have been breached
    return [level for level in active_levels if level != traded_price]

# Group by timestamp and update active levels
active_levels_df = []
for timestamp, group in filtered_df.groupby('timestamp'):
    print(timestamp)
    print(active_support_levels)
    for idx, row in group.iterrows():
        traded_price = round(row['price'],2)
        print(traded_price)
        # Add new support and resistance levels from the current row
        new_support_levels = [item for sublist in row['support_imbalance'] for item in sublist]
        new_resistance_levels = [item for sublist in row['resistance_imbalance'] for item in sublist]
        
        # Update active support and resistance levels with new levels
        active_support_levels = list(set(active_support_levels + new_support_levels))
        active_resistance_levels = list(set(active_resistance_levels + new_resistance_levels))
        
        # Update support levels
        active_support_levels = update_active_levels(active_support_levels, traded_price)
        
        # Update resistance levels
        active_resistance_levels = update_active_levels(active_resistance_levels, traded_price)
    
    # Sort the active support and resistance levels
    active_support_levels = sorted(active_support_levels)
    active_resistance_levels = sorted(active_resistance_levels)
    
    # Append the updated levels to the dataframe
    active_levels_df.append({
        'timestamp': timestamp,
        'active_support_levels': active_support_levels,
        'active_resistance_levels': active_resistance_levels
    })

# Create a DataFrame for active levels
active_levels_df = pd.DataFrame(active_levels_df)

2024-12-04 09:30:00
[]
77.1
77.12
77.14
77.16
77.18
77.2
77.22
77.24
77.26
77.28
77.3
77.32
77.34
77.36
77.38
77.4
77.42
77.44
77.46
77.48
77.5
77.52
77.54
77.56
77.58
77.6
77.62
77.64
77.66
77.68
77.7
77.72
77.74
77.76
77.78
77.8
77.82
77.84
77.86
77.88
2024-12-04 09:35:00
[]
77.26
77.28
77.3
77.32
77.34
77.36
77.38
77.4
77.42
77.44
77.46
77.48
77.5
77.52
77.54
77.56
77.58
77.6
77.62
2024-12-04 09:40:00
[]
77.38
77.4
77.42
77.44
77.46
77.48
77.5
77.52
77.54
77.56
77.58
77.6
2024-12-04 09:45:00
[77.42, 77.44, 77.46, 77.48]
77.36
77.38
77.4
77.42
77.44
77.46
77.48
77.5
77.52
77.54
77.56
2024-12-04 09:50:00
[]
77.32
77.34
77.36
77.38
77.4
77.42
77.44
77.46
77.48
77.5
77.52
2024-12-04 09:55:00
[]
77.34
77.36
77.38
77.4
77.42
77.44
77.46
77.48
77.5
77.52
77.54
77.56
2024-12-04 10:00:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.52]
77.52
77.54
77.56
77.58
77.6
77.62
77.64
77.66
77.68
2024-12-04 10:05:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.58]
77.58
77.6
77.62
77.64
77.66
77.68
77.7
77.72
77.74
77.76
77.78
77.8
77.82
77.84
77.86
77.88
77.9
77.92
2024-12-04 10:10:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.74, 77.76, 77.78]
77.74
77.76
77.78
77.8
77.82
77.84
77.86
77.88
77.9
77.92
2024-12-04 10:15:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.68
77.7
77.72
77.74
77.76
77.78
77.8
77.82
77.84
77.86
2024-12-04 10:20:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.8
77.82
77.84
77.86
77.88
77.9
77.92
77.94
77.96
2024-12-04 10:25:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.88, 77.9, 77.92, 77.94]
77.88
77.9
77.92
77.94
77.96
77.98
2024-12-04 10:30:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.76
77.78
77.8
77.82
77.84
77.86
77.88
77.9
2024-12-04 10:35:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.78
77.8
77.82
77.84
77.86
2024-12-04 10:40:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.76
77.78
77.8
77.82
77.84
2024-12-04 10:45:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.66
77.68
77.7
77.72
77.74
77.76
77.78
77.8
77.82
77.84
77.86
2024-12-04 10:50:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.74
77.76
77.78
77.8
77.82
2024-12-04 10:55:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.78
77.8
77.82
77.84
77.86
77.88
77.9
77.92
2024-12-04 11:00:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.88, 77.9]
77.92
77.94
77.96
77.98
78.0
78.02
2024-12-04 11:05:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.88, 77.9]
77.82
77.84
77.86
77.88
77.9
77.92
77.94
2024-12-04 11:10:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.82
77.84
77.86
77.88
77.92
77.94
77.96
77.98
78.0
2024-12-04 11:15:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.0
78.02
78.04
78.06
78.08
78.1
78.12
78.14
78.16
78.18
2024-12-04 11:20:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.08
78.1
78.12
78.14
78.16
78.18
78.2
2024-12-04 11:25:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.12
78.14
78.16
78.18
78.2
78.22
78.24
78.26
2024-12-04 11:30:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.18
78.2
78.22
78.24
2024-12-04 11:35:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.12
78.14
78.16
78.18
78.2
78.22
2024-12-04 11:40:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.2
78.22
78.24
78.26
78.28
2024-12-04 11:45:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.16
78.18
78.2
78.22
78.24
78.26
2024-12-04 11:50:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.2
78.22
78.24
78.26
2024-12-04 11:55:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.2
78.22
78.24
78.26
2024-12-04 12:00:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.1
78.12
78.14
78.16
78.18
78.2
78.22
2024-12-04 12:05:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.12
78.14
78.16
78.18
78.2
2024-12-04 12:10:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.18
78.2
78.22
78.24
78.26
78.28
2024-12-04 12:15:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
78.12
78.14
78.16
78.18
78.2
78.22
78.24
2024-12-04 12:20:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
77.98
78.0
78.02
78.04
78.06
78.08
78.1
78.12
78.14
78.16
2024-12-04 12:25:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94, 77.96]
77.96
77.98
78.0
78.02
78.04
78.06
78.08
2024-12-04 12:30:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.86, 77.88, 77.92, 77.94]
77.82
77.84
77.86
77.88
77.9
77.92
77.94
77.96
77.98
78.0
78.02
78.04
2024-12-04 12:35:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.8
77.82
77.84
77.86
77.88
2024-12-04 12:40:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.78
77.8
77.82
77.84
2024-12-04 12:45:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.82
77.84
77.86
77.88
77.9
77.92
77.94
77.96
77.98
2024-12-04 12:50:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.92, 77.94, 77.96]
77.96
77.98
78.0
78.02
2024-12-04 12:55:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.92, 77.94]
77.94
77.96
77.98
78.0
78.02
78.04
2024-12-04 13:00:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.92]
77.86
77.88
77.9
77.92
77.94
77.96
2024-12-04 13:05:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.86
77.88
77.9
77.92
77.94
77.96
77.98
2024-12-04 13:10:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.88
77.9
77.92
77.94
77.96
77.98
2024-12-04 13:15:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.84
77.86
77.88
77.9
77.92
2024-12-04 13:20:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.82
77.84
77.86
77.88
2024-12-04 13:25:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.8
77.82
77.84
2024-12-04 13:30:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.78
77.8
77.82
77.84
77.86
2024-12-04 13:35:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.8
77.82
77.84
2024-12-04 13:40:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.8
77.82
77.84
77.86
2024-12-04 13:45:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.8
77.82
2024-12-04 13:50:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.76
77.78
77.8
77.82
2024-12-04 13:55:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.8
77.82
77.84
77.86
2024-12-04 14:00:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.82
77.84
77.86
77.88
77.9
77.92
77.94
2024-12-04 14:05:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 77.88, 77.9, 77.92]
77.88
77.9
77.92
77.94
77.96
77.98
2024-12-04 14:10:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.92
77.94
77.96
77.98
2024-12-04 14:15:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.9
77.92
77.94
77.96
2024-12-04 14:20:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.96
77.98
2024-12-04 14:25:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
77.98
78.0
78.02
78.04
2024-12-04 14:30:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.02
78.04
78.06
78.08
2024-12-04 14:35:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.08
78.1
78.12
78.14
2024-12-04 14:40:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.04
78.06
78.08
78.1
78.12
2024-12-04 14:45:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.02
78.04
78.06
78.08
2024-12-04 14:50:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.0
78.02
78.04
2024-12-04 14:55:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.02
78.04
78.06
78.08
2024-12-04 15:00:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.04
78.06
78.08
2024-12-04 15:05:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.1
78.12
78.14
78.16
2024-12-04 15:10:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.14
78.16
78.18
78.2
78.22
78.24
2024-12-04 15:15:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.08
78.1
78.12
78.14
78.16
2024-12-04 15:20:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.08
78.1
78.12
78.14
78.16
78.18
2024-12-04 15:25:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 78.12, 78.14, 78.16]
78.12
78.14
78.16
78.18
2024-12-04 15:30:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.06
78.08
78.1
78.12
78.14
2024-12-04 15:35:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.04
78.06
78.08
78.1
78.12
2024-12-04 15:40:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.08
78.1
78.12
78.14
2024-12-04 15:45:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64]
78.12
78.14
78.16
78.18
78.2
78.22
78.24
2024-12-04 15:50:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 78.16, 78.18, 78.2, 78.22]
78.24
78.26
78.28
78.3
78.32
78.34
78.36
78.38
2024-12-04 15:55:00
[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5, 77.54, 77.56, 77.6, 77.62, 77.64, 78.16, 78.18, 78.2, 78.22]
78.34
78.36
78.38
78.4
78.42
78.44
78.46
78.48

In [194]:
temp_df = active_levels_df

temp_df['active_support_levels'] = temp_df['active_support_levels'].apply(str)
temp_df['active_resistance_levels'] = temp_df['active_resistance_levels'].apply(str)
temp_df = temp_df.drop_duplicates().reset_index()

temp_df

,index,timestamp,active_support_levels,active_resistance_levels
0,0,2024-12-04 09:30:00,[],"[77.14, 77.16, 77.18, 77.2, 77.22, 77.24, 77.2..."
1,1,2024-12-04 09:35:00,[],"[77.14, 77.16, 77.18, 77.2, 77.22, 77.24]"
2,2,2024-12-04 09:40:00,"[77.42, 77.44, 77.46, 77.48]","[77.14, 77.16, 77.18, 77.2, 77.22, 77.24]"
3,3,2024-12-04 09:45:00,[],"[77.14, 77.16, 77.18, 77.2, 77.22, 77.24]"
4,4,2024-12-04 09:50:00,[],"[77.14, 77.16, 77.18, 77.2, 77.22, 77.24]"
...,...,...,...,...
73,73,2024-12-04 15:35:00,"[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5...","[77.14, 77.16, 77.18, 77.2, 77.22, 77.24, 77.72]"
74,74,2024-12-04 15:40:00,"[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5...","[77.14, 77.16, 77.18, 77.2, 77.22, 77.24, 77.72]"
75,75,2024-12-04 15:45:00,"[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5...","[77.14, 77.16, 77.18, 77.2, 77.22, 77.24, 77.72]"
76,76,2024-12-04 15:50:00,"[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5...","[77.14, 77.16, 77.18, 77.2, 77.22, 77.24, 77.72]"
77,77,2024-12-04 15:55:00,"[77.36, 77.38, 77.4, 77.42, 77.44, 77.48, 77.5...","[77.14, 77.16, 77.18, 77.2, 77.22, 77.24, 77.72]"

In [195]:
temp_df.loc[77,'active_resistance_levels']

'[77.14, 77.16, 77.18, 77.2, 77.22, 77.24, 77.72]'

In [197]:

# Convert 'support_imbalance' and 'resistance_imbalance' columns to strings
filtered_df['support_imbalance'] = filtered_df['support_imbalance'].apply(str)
filtered_df['resistance_imbalance'] = filtered_df['resistance_imbalance'].apply(str)

# Reset index and filter required columns
temp_filter_df = filtered_df[['timestamp','poc','highest_bid_stacked_imbalance','highest_ask_stacked_imbalance','highest_ask_imbalance_stack_price','highest_bid_imbalance_stack_price',
                              
                              'total_ask_imbalance_count','highest_stacked_ask_imbalance',
                              'total_bid_imbalance_count','highest_stacked_bid_imbalance', 
                              'support_imbalance_count','resistance_imbalance_count',
                              'support_imbalance', 'resistance_imbalance']].drop_duplicates().reset_index(drop=True)

# Create consecutive POC flag and count highest consecutive POC
temp_filter_df['consecutive_poc_flag'] = temp_filter_df['poc'].eq(temp_filter_df['poc'].shift())

# Calculate the highest consecutive POC count
temp_filter_df['highest_consecutive_poc_count'] = temp_filter_df['poc'].groupby((temp_filter_df['poc'] != temp_filter_df['poc'].shift()).cumsum()).transform('count')

In [198]:
temp_filter_df

,timestamp,poc,highest_bid_stacked_imbalance,highest_ask_stacked_imbalance,highest_ask_imbalance_stack_price,highest_bid_imbalance_stack_price,total_ask_imbalance_count,highest_stacked_ask_imbalance,total_bid_imbalance_count,highest_stacked_bid_imbalance,support_imbalance_count,resistance_imbalance_count,support_imbalance,resistance_imbalance,consecutive_poc_flag,highest_consecutive_poc_count
0,2024-12-04 09:30:00,77.38,3760.0,3415.0,77.34,77.40,18,7,5,2,0,17,[],"[[77.14, 77.16, 77.18, 77.2, 77.22, 77.24], [7...",False,1
1,2024-12-04 09:35:00,77.56,2322.0,2573.0,NaN,77.52,0,0,6,2,0,0,[],[],False,1
2,2024-12-04 09:40:00,77.52,3673.0,4166.0,77.56,77.48,2,2,4,4,4,0,"[[77.42, 77.44, 77.46, 77.48]]",[],False,1
3,2024-12-04 09:45:00,77.44,5001.0,1856.0,NaN,77.44,0,0,6,2,0,0,[],[],False,1
4,2024-12-04 09:50:00,77.36,992.0,1419.0,77.40,77.48,2,2,2,2,0,0,[],[],False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,2024-12-04 15:35:00,78.06,2138.0,3137.0,78.08,78.12,1,1,1,1,0,0,[],[],False,1
74,2024-12-04 15:40:00,78.12,3081.0,6590.0,NaN,NaN,0,0,0,0,0,0,[],[],False,1
75,2024-12-04 15:45:00,78.22,3586.0,499.0,78.12,78.22,1,1,4,4,4,0,"[[78.16, 78.18, 78.2, 78.22]]",[],False,1
76,2024-12-04 15:50:00,78.26,2938.0,2038.0,NaN,78.32,0,0,3,2,0,0,[],[],False,1
77,2024-12-04 15:55:00,78.44,5457.0,7033.0,NaN,NaN,0,0,0,0,0,0,[],[],False,1

In [201]:
import yfinance as yf

temp_filter_df['timestamp'] = pd.to_datetime(temp_filter_df['timestamp'])

# Downloading NKE data from yfinance in 5-minute intervals (only available for the last 60 days)
stock_data = yf.download('NKE', interval='5m', period='5d', progress=False)

# Resetting the index of downloaded NKE data and renaming columns
stock_data.reset_index(inplace=True)
stock_data['timestamp'] = pd.to_datetime(stock_data['Datetime']).dt.tz_localize(None)

# Rounding Open, High, Low, Close, and Adj Close columns to two decimals
stock_data[['Open', 'High', 'Low', 'Close', 'Adj Close']] = stock_data[['Open', 'High', 'Low', 'Close', 'Adj Close']].round(2)

# Left join the existing dataframe with NKE data
merged_df = pd.merge(temp_filter_df, stock_data, how='left', on='timestamp')

# Adding a new column 'poc_direction'
merged_df['poc_direction'] = merged_df.apply(lambda row: 'bullish' if row['Adj Close'] >= row['poc'] else 'bearish', axis=1)
merged_df['highest_ask_imbalance_price_direction'] = merged_df.apply(
    lambda row: '' if np.isnan(row['highest_ask_imbalance_stack_price']) else 
                ('bullish' if row['Adj Close'] >= row['highest_ask_imbalance_stack_price'] else 'bearish'),
    axis=1
)
merged_df['highest_bid_imbalance_price_direction'] = merged_df.apply(
    lambda row: '' if np.isnan(row['highest_bid_imbalance_stack_price']) else 
                ('bullish' if row['Adj Close'] >= row['highest_bid_imbalance_stack_price'] else 'bearish'),
    axis=1
)

merged_df['total_bid_ask_count_direction'] = merged_df.apply(
    lambda row: 'bearish' if row['total_ask_imbalance_count'] > row['total_bid_imbalance_count'] else 
                ('neutral' if row['total_ask_imbalance_count'] == row['total_bid_imbalance_count'] else 'bullish'),
    axis=1
)

merged_df['imbalance_support_resistance_direction'] = merged_df.apply(
    lambda row: 'bearish' if row['resistance_imbalance_count'] > row['support_imbalance_count'] else 
                ('neutral' if row['resistance_imbalance_count'] == row['support_imbalance_count'] else 'bullish'),
    axis=1
)

In [202]:
merged_df[['timestamp','poc','Adj Close','poc_direction','highest_ask_imbalance_price_direction','highest_bid_imbalance_price_direction','total_bid_ask_count_direction','imbalance_support_resistance_direction','support_imbalance_count','resistance_imbalance_count','highest_ask_imbalance_stack_price','highest_bid_imbalance_stack_price']].head(15)

,timestamp,poc,Adj Close,poc_direction,highest_ask_imbalance_price_direction,highest_bid_imbalance_price_direction,total_bid_ask_count_direction,imbalance_support_resistance_direction,support_imbalance_count,resistance_imbalance_count,highest_ask_imbalance_stack_price,highest_bid_imbalance_stack_price
0,2024-12-04 09:30:00,77.38,77.50,bullish,bullish,bullish,bearish,bearish,0,17,77.34,77.40
1,2024-12-04 09:35:00,77.56,77.64,bullish,,bullish,bullish,neutral,0,0,NaN,77.52
2,2024-12-04 09:40:00,77.52,77.56,bullish,bullish,bullish,bullish,bullish,4,0,77.56,77.48
3,2024-12-04 09:45:00,77.44,77.53,bullish,,bullish,bullish,neutral,0,0,NaN,77.44
4,2024-12-04 09:50:00,77.36,77.36,bullish,bearish,bearish,neutral,neutral,0,0,77.40,77.48
5,2024-12-04 09:55:00,77.54,77.56,bullish,bullish,bullish,bullish,bullish,8,0,77.54,77.50
6,2024-12-04 10:00:00,77.58,77.69,bullish,bullish,bullish,bullish,bullish,3,0,77.66,77.58
7,2024-12-04 10:05:00,77.78,77.94,bullish,bullish,bullish,bullish,bullish,6,0,77.82,77.74
8,2024-12-04 10:10:00,77.80,77.77,bearish,bearish,bearish,bearish,neutral,0,0,77.86,77.80
9,2024-12-04 10:15:00,77.82,77.84,bullish,bullish,bullish,bearish,neutral,0,0,77.84,77.76
10,2024-12-04 10:20:00,77.88,77.98,bullish,,bullish,bullish,bullish,5,0,NaN,77.88
11,2024-12-04 10:25:00,77.92,77.92,bullish,bearish,bullish,bullish,neutral,0,0,77.94,77.92
12,2024-12-04 10:30:00,77.78,77.84,bullish,bullish,bullish,bearish,neutral,0,0,77.80,77.78
13,2024-12-04 10:35:00,77.82,77.80,bearish,bearish,bearish,neutral,neutral,0,0,77.82,77.86
14,2024-12-04 10:40:00,77.78,77.81,bullish,,bullish,bullish,neutral,0,0,NaN,77.78

In [95]:
merged_df.columns

Index(['timestamp', 'poc', 'highest_bid_stacked_imbalance',
       'highest_ask_stacked_imbalance', 'highest_ask_imbalance_stack_price',
       'highest_bid_imbalance_stack_price', 'total_ask_imbalance_count',
       'highest_stacked_ask_imbalance', 'total_bid_imbalance_count',
       'highest_stacked_bid_imbalance', 'support_imbalance',
       'resistance_imbalance', 'consecutive_poc_flag',
       'highest_consecutive_poc_count', 'Datetime', 'Open', 'High', 'Low',
       'Close', 'Adj Close', 'Volume', 'poc_direction',
       'highest_ask_imbalance_price_direction',
       'highest_bid_imbalance_price_direction'],
      dtype='object')

In [ ]:
filtered_df

In [242]:
filtered_df.loc[0,'resistance_imbalance']

'[[576.3, 576.47, 576.64], [577.15, 577.32, 577.49, 577.66, 577.83]]'

In [172]:
temp_filter_df.loc[0,'support_imbalance']

[[580.55, 580.72, 580.89],
 [581.23, 581.4, 581.57, 581.74, 581.91, 582.08, 582.25, 582.42, 582.59],
 [582.76, 582.93, 583.1, 583.27, 583.44],
 [583.61, 583.78, 583.95, 584.12, 584.29, 584.46],
 [584.8, 584.97, 585.14, 585.31, 585.48],
 [585.99, 586.16, 586.33, 586.5, 586.67, 586.84],
 [586.67, 586.84, 587.01, 587.18],
 [588.2, 588.37, 588.54],
 [588.88, 589.05, 589.22],
 [589.73, 589.9, 590.07, 590.24],
 [591.26, 591.43, 591.6],
 [592.28, 592.45, 592.62],
 [593.81, 593.98, 594.15],
 [591.43, 591.6, 591.77, 591.94]]

In [68]:
temp_filter_df[temp_filter_df['consecutive_poc_flag']]

,timestamp,poc,highest_bid_stacked_imbalance,highest_ask_stacked_imbalance,total_ask_imbalance_count,highest_stacked_ask_imbalance,total_bid_imbalance_count,highest_stacked_bid_imbalance,consecutive_poc_flag,highest_consecutive_poc_count
13,2024-12-02 10:35:00,587.35,4426.0,861.0,2,1,1,1,True,2
46,2024-12-02 13:20:00,591.09,4249.0,1262.0,0,0,2,1,True,2
65,2024-12-02 14:55:00,590.92,2789.0,3055.0,1,1,0,0,True,2

In [39]:
# Group by minute to analyze reversal and initiation
def analyze_minute(group):
    bid_prices = group.loc[group['imbalance'] == "sell", "price"]
    ask_prices = group.loc[group['imbalance'] == "buy", "price"]
    close_price = group['price'].iloc[-1]  # Last price in the minute

    # Initialize comment
    comment = ""

    # Check if close price below ask prices (buyers absorbed by sellers)
    if not ask_prices.empty and close_price < ask_prices.min():
        comment = "Buyers absorbed by sellers."

    # Check if close price above bid prices (sellers absorbed by buyers)
    elif not bid_prices.empty and close_price > bid_prices.max():
        comment = "Sellers absorbed by buyers."

    # Fallback comment
    if comment == "":
        comment = "No significant absorption detected."

    return pd.Series({
        "minute": group['timestamp'].iloc[0].minute,  # Add the minute column explicitly
        "close_price": close_price,
        "comment": comment
    })

# Apply analysis for each minute
result_df = filtered_df.groupby(filtered_df['timestamp'].dt.minute).apply(analyze_minute).reset_index(drop=True)

# Ensure 'minute' column in result_df exists
if 'minute' in result_df.columns:
    result_df.rename(columns={"minute": "grouped_minute"}, inplace=True)
else:
    raise ValueError("The 'minute' column was not created in result_df.")

# Add the grouped analysis back to the original DataFrame by merging on the minute
filtered_df['minute'] = filtered_df['timestamp'].dt.minute  # Add minute to the original DataFrame
final_df = filtered_df.merge(result_df, how="left", left_on="minute", right_on="grouped_minute")

# Drop unnecessary columns to clean up
final_df.drop(columns=["minute", "grouped_minute"], inplace=True)

C:\Users\saite\AppData\Local\Temp\ipykernel_32296\1965833506.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['minute'] = filtered_df['timestamp'].dt.minute  # Add minute to the original DataFrame

In [40]:
final_df

,timestamp,price,buyVolume,sellVolume,imbalance,index,close_price,comment
0,2024-11-29 09:30:00,128.24,1032.0,756.0,sell,4606,132.02,Buyers absorbed by sellers.
1,2024-11-29 09:30:00,128.38,0.0,904.0,,4606,132.02,Buyers absorbed by sellers.
2,2024-11-29 09:30:00,128.10,74.0,657.0,,4606,132.02,Buyers absorbed by sellers.
3,2024-11-29 09:30:00,127.96,1219.0,585.0,sell,4606,132.02,Buyers absorbed by sellers.
4,2024-11-29 09:30:00,127.82,1024.0,1495.0,,4606,132.02,Buyers absorbed by sellers.
...,...,...,...,...,...,...,...,...
202,2024-11-29 12:50:00,133.56,1081.0,3640.0,,4646,133.56,Sellers absorbed by buyers.
203,2024-11-29 12:55:00,133.56,11117.0,11835.0,sell,4647,133.28,Buyers absorbed by sellers.
204,2024-11-29 12:55:00,133.70,945.0,661.0,,4647,133.28,Buyers absorbed by sellers.
205,2024-11-29 12:55:00,133.42,3027.0,4472.0,buy,4647,133.28,Buyers absorbed by sellers.
206,2024-11-29 12:55:00,133.28,0.0,124.0,,4647,133.28,Buyers absorbed by sellers.

In [41]:
temp_df = final_df[['timestamp','comment']].drop_duplicates()

temp_df

              timestamp                              comment
0   2024-11-29 09:30:00          Buyers absorbed by sellers.
7   2024-11-29 09:35:00          Sellers absorbed by buyers.
11  2024-11-29 09:40:00  No significant absorption detected.
15  2024-11-29 09:45:00          Sellers absorbed by buyers.
19  2024-11-29 09:50:00          Sellers absorbed by buyers.
23  2024-11-29 09:55:00          Buyers absorbed by sellers.
26  2024-11-29 10:00:00          Sellers absorbed by buyers.
30  2024-11-29 10:05:00  No significant absorption detected.
35  2024-11-29 10:10:00  No significant absorption detected.
42  2024-11-29 10:15:00  No significant absorption detected.
49  2024-11-29 10:20:00          Buyers absorbed by sellers.
53  2024-11-29 10:25:00          Sellers absorbed by buyers.
57  2024-11-29 10:30:00          Buyers absorbed by sellers.
61  2024-11-29 10:35:00          Sellers absorbed by buyers.
69  2024-11-29 10:40:00  No significant absorption detected.
72  2024-11-29 10:45:00          Sellers absorbed by buyers.
75  2024-11-29 10:50:00          Sellers absorbed by buyers.
80  2024-11-29 10:55:00          Buyers absorbed by sellers.
83  2024-11-29 11:00:00          Sellers absorbed by buyers.
90  2024-11-29 11:05:00  No significant absorption detected.
93  2024-11-29 11:10:00  No significant absorption detected.
96  2024-11-29 11:15:00  No significant absorption detected.
100 2024-11-29 11:20:00          Buyers absorbed by sellers.
113 2024-11-29 11:25:00          Sellers absorbed by buyers.
120 2024-11-29 11:30:00          Buyers absorbed by sellers.
130 2024-11-29 11:35:00          Sellers absorbed by buyers.
135 2024-11-29 11:40:00  No significant absorption detected.
141 2024-11-29 11:45:00          Sellers absorbed by buyers.
145 2024-11-29 11:50:00          Sellers absorbed by buyers.
150 2024-11-29 11:55:00          Buyers absorbed by sellers.
153 2024-11-29 12:00:00          Sellers absorbed by buyers.
157 2024-11-29 12:05:00  No significant absorption detected.
160 2024-11-29 12:10:00  No significant absorption detected.
162 2024-11-29 12:15:00  No significant absorption detected.
166 2024-11-29 12:20:00          Buyers absorbed by sellers.
170 2024-11-29 12:25:00          Sellers absorbed by buyers.
183 2024-11-29 12:30:00          Buyers absorbed by sellers.
186 2024-11-29 12:35:00          Sellers absorbed by buyers.
193 2024-11-29 12:40:00  No significant absorption detected.
196 2024-11-29 12:45:00          Sellers absorbed by buyers.
199 2024-11-29 12:50:00          Sellers absorbed by buyers.
203 2024-11-29 12:55:00          Buyers absorbed by sellers.

In [10]:
filtered_df

              timestamp   price  buyVolume  sellVolume imbalance  index
0   2024-11-29 09:30:00  234.78        0.0      1193.0             2906
1   2024-11-29 09:30:00  234.84     1145.0      1269.0             2906
2   2024-11-29 09:30:00  234.90     2290.0       967.0             2906
3   2024-11-29 09:30:00  234.96     2290.0       646.0             2906
4   2024-11-29 09:30:00  235.02      382.0         0.0             2906
..                  ...     ...        ...         ...       ...    ...
280 2024-11-29 12:55:00  237.30     5388.0      1265.0       buy   2947
281 2024-11-29 12:55:00  237.36    13753.0     21027.0       buy   2947
282 2024-11-29 12:55:00  237.42    23940.0     27431.0             2947
283 2024-11-29 12:55:00  237.48    24117.0     11987.0      sell   2947
284 2024-11-29 12:55:00  237.54      350.0       553.0             2947

[285 rows x 6 columns]

In [11]:
from sklearn.ensemble import IsolationForest

# Replace missing values in 'imbalance' with a specific value (e.g., 'missing_value')
filtered_df['imbalance'] = filtered_df['imbalance'].fillna('missing_value')

# Encode categorical 'imbalance' feature
filtered_df['imbalance'] = filtered_df['imbalance'].apply(lambda x: 1 if x == 'buy' else -1 if x == 'sell' else 0)

# Convert the timestamp to numerical format (e.g., seconds since epoch)
filtered_df['timestamp'] = filtered_df['timestamp'].astype(np.int64) // 10**9

# Select relevant features for anomaly detection
features = ['timestamp', 'price', 'buyVolume', 'sellVolume', 'imbalance']

# # Initialize and fit the Isolation Forest model
# model = IsolationForest(contamination='auto', random_state=42)
model = IsolationForest(contamination=0.03, random_state=42)
model.fit(filtered_df[features])

# Predict anomalies
filtered_df['anomaly'] = model.predict(filtered_df[features])

C:\Users\saite\AppData\Local\Temp\ipykernel_32296\2088222860.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['imbalance'] = filtered_df['imbalance'].fillna('missing_value')
C:\Users\saite\AppData\Local\Temp\ipykernel_32296\2088222860.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['imbalance'] = filtered_df['imbalance'].apply(lambda x: 1 if x == 'buy' else -1 if x == 'sell' else 0)
C:\Users\saite\AppData\Local\Temp\ipykernel_32296\2088222860.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['timestamp'] = filtered_df['timestamp'].astype(np.int64) // 10**9
C:\Users\saite\AppData\Local\Temp\ipykernel_32296\2088222860.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['anomaly'] = model.predict(filtered_df[features])

In [12]:
filtered_df['anomaly'].value_counts()

anomaly
 1    276
-1      9
Name: count, dtype: int64

In [13]:
# Convert the numerical timestamp back to normal datetime format
filtered_df['timestamp'] = pd.to_datetime(filtered_df['timestamp'], unit='s')

filtered_anomaly = filtered_df[filtered_df['anomaly'] == -1]

C:\Users\saite\AppData\Local\Temp\ipykernel_32296\1014059852.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['timestamp'] = pd.to_datetime(filtered_df['timestamp'], unit='s')

In [14]:
filtered_anomaly['timestamp'].value_counts()

timestamp
2024-11-29 12:55:00    3
2024-11-29 09:30:00    2
2024-11-29 10:25:00    1
2024-11-29 11:10:00    1
2024-11-29 11:50:00    1
2024-11-29 12:50:00    1
Name: count, dtype: int64

In [15]:
filtered_anomaly

,timestamp,price,buyVolume,sellVolume,imbalance,index,anomaly
13,2024-11-29 09:30:00,234.12,2746.0,14200.0,0,2906,-1
18,2024-11-29 09:30:00,233.94,0.0,5707.0,-1,2906,-1
103,2024-11-29 10:25:00,235.26,5064.0,11759.0,-1,2917,-1
150,2024-11-29 11:10:00,235.98,54888.0,0.0,1,2926,-1
196,2024-11-29 11:50:00,237.00,74386.0,1535.0,1,2934,-1
264,2024-11-29 12:50:00,237.42,96558.0,1084.0,1,2946,-1
281,2024-11-29 12:55:00,237.36,13753.0,21027.0,1,2947,-1
282,2024-11-29 12:55:00,237.42,23940.0,27431.0,0,2947,-1
283,2024-11-29 12:55:00,237.48,24117.0,11987.0,-1,2947,-1

In [18]:
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
from keras.models import Sequential
from keras.layers import LSTM, Dense, Dropout, RepeatVector, TimeDistributed


# Filter the DataFrame
filtered_df = series_df[(series_df['timestamp'] >= '2024-11-29 09:30:00') & (series_df['timestamp'] < '2024-07-23 15:50:00')]
filtered_df.reset_index(inplace=True,drop=True)

# Replace missing values in 'imbalance' with a specific value (e.g., 'missing_value')
filtered_df['imbalance'] = filtered_df['imbalance'].fillna('missing_value')

# Encode categorical 'imbalance' feature
filtered_df['imbalance'] = filtered_df['imbalance'].apply(lambda x: 1 if x == 'buy' else -1 if x == 'sell' else 0)

# Select relevant features for anomaly detection
features = ['price', 'buyVolume', 'sellVolume', 'imbalance']

# Normalize the data
scaler = MinMaxScaler()
filtered_df[features] = scaler.fit_transform(filtered_df[features])

ValueError: Found array with 0 sample(s) (shape=(0, 4)) while a minimum of 1 is required by MinMaxScaler.

In [71]:
# Prepare the data for LSTM (we'll use sequences)
def create_sequences(data, seq_length):
    xs, ys = [], []
    for i in range(len(data) - seq_length):
        x = data[i:(i + seq_length)]
        y = data[i + seq_length]
        xs.append(x)
        ys.append(y)
    return np.array(xs), np.array(ys)

SEQ_LENGTH = 10  # Length of the sequences for LSTM
X, y = create_sequences(filtered_df[features].values, SEQ_LENGTH)

# Build LSTM Autoencoder Model
model = Sequential([
    LSTM(128, activation='relu', input_shape=(SEQ_LENGTH, len(features)), return_sequences=True),
    Dropout(0.2),
    LSTM(64, activation='relu', return_sequences=False),
    RepeatVector(SEQ_LENGTH),
    LSTM(64, activation='relu', return_sequences=True),
    Dropout(0.2),
    LSTM(128, activation='relu', return_sequences=True),
    TimeDistributed(Dense(len(features)))
])

model.compile(optimizer='adam', loss='mse')
model.summary()

# Train the model
history = model.fit(X, X, epochs=50, batch_size=32, validation_split=0.1, shuffle=False)

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_4 (LSTM)               (None, 10, 128)           68096

 dropout_2 (Dropout)         (None, 10, 128)           0

 lstm_5 (LSTM)               (None, 64)                49408

 repeat_vector_1 (RepeatVect  (None, 10, 64)           0
 or)

 lstm_6 (LSTM)               (None, 10, 64)            33024

 dropout_3 (Dropout)         (None, 10, 64)            0

 lstm_7 (LSTM)               (None, 10, 128)           98816

 time_distributed_1 (TimeDis  (None, 10, 4)            516
 tributed)

=================================================================
Total params: 249,860
Trainable params: 249,860
Non-trainable params: 0
_________________________________________________________________
Epoch 1/50
12/12 [==============================] - 5s 67ms/step - loss: 0.1506 - val_loss: 0.1098
Epoch 2/50
12/12 [==============================] - 0s 20ms/step - loss: 0.0920 - val_loss: 0.1008
Epoch 3/50
12/12 [==============================] - 0s 19ms/step - loss: 0.0751 - val_loss: 0.0820
Epoch 4/50
12/12 [==============================] - 0s 19ms/step - loss: 0.0689 - val_loss: 0.0710
Epoch 5/50
12/12 [==============================] - 0s 19ms/step - loss: 0.0645 - val_loss: 0.0639
Epoch 6/50
12/12 [==============================] - 0s 20ms/step - loss: 0.0573 - val_loss: 0.0510
Epoch 7/50
12/12 [==============================] - 0s 27ms/step - loss: 0.0519 - val_loss: 0.0426
Epoch 8/50
12/12 [==============================] - 0s 23ms/step - loss: 0.0483 - val_loss: 0.0374
Epoch 9/50
12/12 [==============================] - 0s 22ms/step - loss: 0.0453 - val_loss: 0.0381
Epoch 10/50
12/12 [==============================] - 0s 26ms/step - loss: 0.0433 - val_loss: 0.0352
Epoch 11/50
12/12 [==============================] - 0s 28ms/step - loss: 0.0433 - val_loss: 0.0355
Epoch 12/50
12/12 [==============================] - 0s 26ms/step - loss: 0.0417 - val_loss: 0.0353
Epoch 13/50
12/12 [==============================] - 0s 26ms/step - loss: 0.0403 - val_loss: 0.0360
Epoch 14/50
12/12 [==============================] - 0s 22ms/step - loss: 0.0395 - val_loss: 0.0359
Epoch 15/50
12/12 [==============================] - 0s 24ms/step - loss: 0.0435 - val_loss: 0.0338
Epoch 16/50
12/12 [==============================] - 0s 27ms/step - loss: 0.0405 - val_loss: 0.0362
Epoch 17/50
12/12 [==============================] - 0s 24ms/step - loss: 0.0404 - val_loss: 0.0358
Epoch 18/50
12/12 [==============================] - 0s 24ms/step - loss: 0.0399 - val_loss: 0.0452
Epoch 19/50
12/12 [==============================] - 0s 24ms/step - loss: 0.0400 - val_loss: 0.0309
Epoch 20/50
12/12 [==============================] - 0s 27ms/step - loss: 0.0395 - val_loss: 0.0341
Epoch 21/50
12/12 [==============================] - 0s 34ms/step - loss: 0.0388 - val_loss: 0.0345
Epoch 22/50
12/12 [==============================] - 0s 31ms/step - loss: 0.0381 - val_loss: 0.0345
Epoch 23/50
12/12 [==============================] - 0s 41ms/step - loss: 0.0386 - val_loss: 0.0312
Epoch 24/50
12/12 [==============================] - 1s 44ms/step - loss: 0.0380 - val_loss: 0.0333
Epoch 25/50
12/12 [==============================] - 1s 46ms/step - loss: 0.0391 - val_loss: 0.0331
Epoch 26/50
12/12 [==============================] - 1s 67ms/step - loss: 0.0382 - val_loss: 0.0341
Epoch 27/50
12/12 [==============================] - 1s 73ms/step - loss: 0.0382 - val_loss: 0.0326
Epoch 28/50
12/12 [==============================] - 1s 94ms/step - loss: 0.0396 - val_loss: 0.0363
Epoch 29/50
12/12 [==============================] - 3s 282ms/step - loss: 0.0413 - val_loss: 0.0337
Epoch 30/50
12/12 [==============================] - 8s 712ms/step - loss: 0.0398 - val_loss: 0.0322
Epoch 31/50
12/12 [==============================] - 9s 730ms/step - loss: 0.0410 - val_loss: 0.0368
Epoch 32/50
12/12 [==============================] - 8s 715ms/step - loss: 0.0382 - val_loss: 0.0313
Epoch 33/50
12/12 [==============================] - 9s 777ms/step - loss: 0.0374 - val_loss: 0.0321
Epoch 34/50
12/12 [==============================] - 8s 683ms/step - loss: 0.0382 - val_loss: 0.0310
Epoch 35/50
12/12 [==============================] - 2s 189ms/step - loss: 0.0366 - val_loss: 0.0314
Epoch 36/50
12/12 [==============================] - 2s 127ms/step - loss: 0.0365 - val_loss: 0.0303
Epoch 37/50
12/12 [==============================] - 2s 141ms/step - loss: 0.0364 - val_loss: 0.0318
Epoch 38/50
12/12 [==============================] - 1s 106ms/step - loss: 0.0354 - val_loss: 0.0304
Epoch 39/50
12/12 [==============================] - 1s 107ms/step - loss: 0.0347 - val_loss: 0.0315
Epoch 40/50
12/12 [==============================] - 1s 97ms/step - loss: 0.0341 - val_loss: 0.0305
Epoch 41/50
12/12 [==============================] - 1s 83ms/step - loss: 0.0336 - val_loss: 0.0292
Epoch 42/50
12/12 [==============================] - 1s 80ms/step - loss: 0.0330 - val_loss: 0.0291
Epoch 43/50
12/12 [==============================] - 1s 73ms/step - loss: 0.0329 - val_loss: 0.0289
Epoch 44/50
12/12 [==============================] - 1s 80ms/step - loss: 0.0316 - val_loss: 0.0286
Epoch 45/50
12/12 [==============================] - 1s 68ms/step - loss: 0.0310 - val_loss: 0.0283
Epoch 46/50
12/12 [==============================] - 1s 62ms/step - loss: 0.0304 - val_loss: 0.0275
Epoch 47/50
12/12 [==============================] - 1s 61ms/step - loss: 0.0308 - val_loss: 0.0297
Epoch 48/50
12/12 [==============================] - 1s 65ms/step - loss: 0.0316 - val_loss: 0.0280
Epoch 49/50
12/12 [==============================] - 1s 63ms/step - loss: 0.0335 - val_loss: 0.0314
Epoch 50/50
12/12 [==============================] - 1s 59ms/step - loss: 0.0319 - val_loss: 0.0277

In [73]:
# Predict the reconstruction
X_pred = model.predict(X)

# Calculate the reconstruction error
reconstruction_error = np.mean(np.abs(X_pred - X), axis=(1, 2))

# Threshold for anomaly detection
threshold = np.mean(reconstruction_error) + 3 * np.std(reconstruction_error)

# Detect anomalies
anomalies = reconstruction_error > threshold

# Append anomaly scores to the original DataFrame
anomaly_scores = np.zeros(len(filtered_df))
anomaly_scores[SEQ_LENGTH:] = anomalies

filtered_df['anomaly'] = anomaly_scores

14/14 [==============================] - 0s 7ms/step

/var/folders/gp/x0f5sgq13db073j79l3_2tb40000gn/T/ipykernel_3751/1529233682.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['anomaly'] = anomaly_scores

In [75]:

# Inverse transform the normalized features back to their original scale
filtered_df[features] = scaler.inverse_transform(filtered_df[features])

/var/folders/gp/x0f5sgq13db073j79l3_2tb40000gn/T/ipykernel_3751/984967263.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df[features] = scaler.inverse_transform(filtered_df[features])

In [76]:
filtered_df[filtered_df['anomaly'] == 1]

,timestamp,price,buyVolume,sellVolume,imbalance,index,anomaly
138,2024-07-23 11:00:00,206.48,8.0,0.0,1.0,2293,1.0